@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script&family=Inter:wght@300&family=Josefin+Sans:wght@100&family=Permanent+Marker&family=Righteous&family=Roboto+Condensed&family=Source+Code+Pro:wght@600&display=swap');

body{
    background: linear-gradient(90deg, #414d0b 0%, #727a17 100%);
    padding-left: 500px;
    padding-top: 300px;
    color: white;
    position: relative;
}

div{
    font-family: 'Inter';
    
}

section{
    font-family: 'Inter';
    height: 100px;
    width: 200px;
    position: relative;
}


fieldset {
  height: 100px;
  width: 400px;
  border-radius: 4px;
  position: relative;
  font-family: 'Inter';
}

.select{
    height: 50px;
    width: 400px;
    font-family: 'Inter';
}

.button-ir{
    height: 50px;
    width: 429px;
    position: relative;
    border-radius: 4px;
    
}

.legend{
    position: center;
}
